<ion-header>
  <ion-toolbar>
    <ion-title>Configuração</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <section>
    <ion-icon name="person"></ion-icon>
    <h1>Configuração do Perfil</h1>
  </section>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding>
          <ion-icon name="person"></ion-icon>
          <h2>Perfil</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding>
          <ion-icon name="person"></ion-icon>
          <h2>Dicas Pessoais</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding>
          <ion-icon name="person"></ion-icon>
          <h2>Consultas - Ekos</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding>
          <ion-icon name="person"></ion-icon>
          <h2>Compartilhar</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
