<ion-header>
  <ion-toolbar>
    <ion-title>Configuração</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    
  <ion-card>
    <ion-card-content class="card1" expand="block">
      <ion-row>
        <ion-col><h1>PERFIL</h1></ion-col>
        <ion-icon name="settings-sharp" size="large"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="card2" expand="block">
      <ion-row>
        <ion-col><h1>CONSULTAS EKO</h1></ion-col>
      <ion-icon name="search-sharp" size="large"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="card3" expand="block">
      <ion-row>
        <ion-col><h1>DICAS PESSOAIS</h1></ion-col>
        <ion-icon name="medkit-sharp" size="large"></ion-icon>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
