<ion-header>
  <ion-toolbar *ngIf="user$ | async as user">
    <ion-title>Olá, <span>{{user.displayName}}</span></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content expand="block">
      Fale com Ekos sobre as dores nas costas que você tem
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/quiropraxia">
    <ion-card-content expand="block"> O que ê Quiropraxia? </ion-card-content>
  </ion-card>
  <ion-card routerLink="/casos-clinicos">
    <ion-card-content expand="block"> Casos clínicos </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content expand="block"> Dicas </ion-card-content>
  </ion-card>
</ion-content>
