ion-header {
  ion-toolbar {
    --background: #0396a6;
    background: linear-gradient(90deg, #0396a6 0%, #0396a6 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    color: #ffffff;
  }
}

}
.logo {
  width: 150px;
  padding-left: 80px;
}

.robo {
  width: 200px;
  margin: auto;
}

.medica {
  width: 120px;
  padding-left: 40px;
}

ion-content {
  --ion-background-color: #f4fbfcee;
}

h1 {
  padding-left: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #1b9fc0dc;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: auto;
  font-weight: bolder;
}

.text {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  font-weight: bolder;
}

.text2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

.card1 {
  background-color: rgb(25, 25, 97);
}

.card2 {
  background-color: rgb(59, 102, 223);
}

.card3 {
  background-color: rgb(49, 179, 240);
}

.card4 {
  background-color: rgb(9, 241, 241);
}

.ekos {
  width: 240px;
  margin: auto;
  text-transform: capitalize;
}
