<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recuperar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fGroup">
    <ion-row>
      <ion-col>
        <p>Lhe enviaremos um link de recuperação para o e-mail registrado.</p>
      </ion-col>
    </ion-row>
    <ion-item lines="full">
      <ion-label position="floating">Email:</ion-label>
      <ion-input
        type="email"
        placeholder="Digite seu e-mail"
        formControlName="email"
        name="email"
        required
      ></ion-input>
      <div *ngIf="fGroup.controls.email.errors">
        <p *ngIf="fGroup.controls.email.errors.required">
          Esse campo é obrigatório!
        </p>
        <p *ngIf="fGroup.controls.email.errors.pattern">
          Esse campo está mal formatado!
        </p>
      </div>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="onResetPassword()"
          expand="block"
          [disabled]="!fGroup.valid"
        >
          Enviar e-mail
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
