<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recuperar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-row>
      <ion-col>
        <p>Lhe enviaremos um link de recuperação para o e-mail registrado.</p>
      </ion-col>
    </ion-row>
    <ion-item lines="full">
      <ion-label position="floating">Email:</ion-label>
      <ion-input
        type="text"
        placeholder="Digite seu e-mail"
        [(ngModel)]="email"
        name="email"
        required
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="onResetPassword(email)"
          expand="block"
        >
          Enviar e-mail
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
