<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-button routerLink="/login">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title><strong>Recuperar senha</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="fGroup">
        <ion-row>
            <ion-col size="8">
                <h3>
                    <p>Enviaremos um link de recuperação para o e-mail registrado.</p>
                </h3>
            </ion-col>
            <ion-col size="4">
                <ion-img class="logo" src="../assets/img/logo.PNG" alt="logotipo"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-img class="ion-align-self-end" src="../assets/img/password.png" alt="celular-senha"></ion-img>
            </ion-col>
        </ion-row>
        <ion-item lines="full">
            <ion-label position="floating">
                <h2>E-mail</h2>
            </ion-label>
            <ion-input type="email" placeholder="Digite seu e-mail" formControlName="email" name="email" required></ion-input>
            <div *ngIf="fGroup.controls.email.errors">
                <p class="alert" *ngIf="fGroup.controls.email.errors.required">
                    Esse campo é obrigatório!
                </p>
                <p class="alert" *ngIf="fGroup.controls.email.errors.pattern">
                    Esse campo está mal formatado!
                </p>
            </div>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button (click)="onResetPassword()" expand="block" shape="round" color="tertiary" [disabled]="!fGroup.valid">
                    Enviar e-mail
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>