ion-content {
    --background: linear-gradient(
    90deg,
    rgb(232, 254, 255) 0%,
    rgb(210, 248, 246) 45%,
    rgb(192, 238, 243) 100%
  );
}

ion-row {
    --background: linear-gradient(
    90deg,
    rgb(232, 254, 255) 0%,
    rgb(210, 248, 246) 45%,
    rgb(192, 238, 243) 100%
  );
}

form{
    --background: linear-gradient(
    90deg,
    rgb(232, 254, 255) 0%,
    rgb(210, 248, 246) 45%,
    rgb(192, 238, 243) 100%
  );
}

ion-item{
    --background: linear-gradient(
    90deg,
    rgb(232, 254, 255) 0%,
    rgb(210, 248, 246) 45%,
    rgb(192, 238, 243) 100%
  );
}

ion-img {
    width: 80px;
    padding-left: 0px;
    padding-top: 13px;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #1b9fc0dc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #1b9fc0d3;
    font-weight: bolder;
}

h3 {
    margin: auto;
    font-size: 15px;
    width: 144px;
    padding-top: 10px;
    opacity: 90%;
}

a {
    text-decoration: none;
}

a:active {
    color: #01fc61e1;
}

.alert {
    font-size: 13px;
    color: red;
}