<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button routerLink="/main">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let u of users"
    button
    [routerLink]="['/casoclinico',u.login]"
  >
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <img [src]="u.avatar_url" alt="" />
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>{{u.login}}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-content>
