ion-header {
  ion-toolbar {
    --background: linear-gradient(
      90deg,
      
      rgb(3, 150, 166) 0%,
      rgb(5, 151, 175) 45%,
      rgb(6, 115, 160) 100%
    );
    background: linear-gradient(90deg, #0396a6 0%, #0396a6 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    color:#ffffff;
    font-style: bold;
  }
}
ion-content {
  --background: linear-gradient(
    90deg,
    
    rgb(3, 150, 166) 0%,
    rgb(5, 151, 175) 45%,
    rgb(6, 115, 160) 100%
  );
  ion-card {
    // background: rgba(255, 251, 251, 0.71);
    --background: linear-gradient(
    90deg,
    
    rgb(3, 150, 166) 0%,
    rgb(5, 151, 175) 45%,
    rgb(6, 115, 160) 100%
  );
    border-radius: 25px;
  }
}

.ion-text-uppercase {
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
}


ion-col {
  --background: rgba(238, 230, 230, 0.1);
  padding: 0;
  margin: 14px 0;
  --border-radius: 14px;
  font-weight: 400;
}



ion-icon{

  color:white;
}

ion-card-title{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: large;
}

ion-card-content{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

ion-card-subtitle{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
