<ion-header>
    <ion-toolbar color="secondary">
        <ion-title align="center"><strong>Login</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">



    <h1><strong>Ingressar</strong></h1>
    <br>
    <br>

    <ion-item>
        <ion-label position="stacked" class="label-float">
            <h2>E-mail</h2>
        </ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email" placeholder="usuario@ekosmed.com"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" class="label-float">
            <h2>Senha</h2>
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" placeholder="************"></ion-input>
    </ion-item>

    <br>
    <ion-button class="botao1" (click)="onSubmitLogin()" expand="block" shape="round" color="secondary"> Entrar </ion-button>
    <h3><a href="#">Esqueci minha senha</a></h3>



</ion-content>