<ion-header>
    <ion-toolbar color="secondary">
        <ion-title><strong>Login</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item>
        <ion-label position="stacked" class="label-float">
            <h2>E-mail</h2>
        </ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email" placeholder="Insira seu e-mail aqui..."></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" class="label-float">
            <h2>Senha</h2>
        </ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Insira sua senha aqui..."></ion-input>
    </ion-item>

    <ion-button class="botao1" (click)="onSubmitLogin()" expand="block" color="secondary"> Entrar </ion-button>

</ion-content>