<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> COVER INIT </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EKOS MED</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col>
      <h1>Vocé tem sentido alguma dor?</h1>
      <strong>Nao se preocupe, podemos te ajudar!</strong>

      <ion-button routerLink="/login">Vamos lá</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
