<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="theme-color" content="#16161d">

<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta http-equiv="x-ua-compatible" content="IE=Edge">
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="ion-text-center" id="titulo">
    <h1><strong>Ekos</strong>Med</h1>

    <ion-img class="logo" src="../assets/img/logo.PNG"></ion-img>


      <h2><strong><ion-text color="light">Você tem sentido alguma dor?</ion-text></strong></h2>  
      <p>Não se preocupe, podemos te ajudar</p>
    </div>
    <ion-button routerLink="/login" class="botao1" (click)="onSubmitLogin()" shape="round" fill="outline" color="success"> Vamos Lá </ion-button>
  </div>
</ion-content>
