<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="" />
<meta name="theme-color" content="#16161d" />

<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<meta http-equiv="x-ua-compatible" content="IE=Edge" />
<ion-content [fullscreen]="true">
    <div class="container">
        <div class="ion-text-center" id="titulo">
            <h1><strong>Ekos</strong>Med</h1>

            <ion-img class="logo" src="../assets/img/logo.PNG"></ion-img>

            <h2>
                <strong><ion-text color="light">Sente sua coluna saudável?</ion-text></strong >
      </h2>
      <ion-row>
        <ion-col>
      <p>
        De acordo com a Pesquisa Nacional da Saúde (2015), 18,5% da população
        adulta brasileira são acometidos por doença crônica na coluna.
      </p>
    </ion-col>
    </ion-row>
    </div>
    <ion-button
      routerLink="/init"
      class="botao1"
      shape="round"
      fill="outline"
      color="success"
    >
      Vamos Lá
    </ion-button>
  </div>
</ion-content>