<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="theme-color" content="#16161d">

<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta http-equiv="x-ua-compatible" content="IE=Edge">
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

<ion-content [fullscreen]="true">
  <div class="container">

      <ion-icon size="large" name="arrow-back-outline" item-right routerLink="/home" (click)="onSubmitLogin()"></ion-icon>
      <p></p>
      <img src="../assets/img/doctor.png">
      <p></p>
      <h1><strong>Bem-Vindo ao Ekos</strong>Med</h1>
      <p></p>
      <ion-button routerLink="/registro" class="botao1" (click)="onSubmitLogin()" fill="solid" color="secondary"> Criar Conta </ion-button>
      <p></p>
      <ion-button routerLink="/login" class="botao1" (click)="onSubmitLogin()" fill="solid" color="secondary"> Fazer Login </ion-button>
  </div>