ion-content{

    --ion-background-color:linear-gradient(45deg, #0396A6,#0597AF);;
  }
  
  .container{  
  
    text-align: center;
  }
  
  .container h1 {
    color:#A9E76A;
    font-size: 25px;
    font-weight: bolder;
  }
  
  .container strong {
    font-size: 25px;
    margin-top: 35px;
    margin-bottom:35px;
    color: aliceblue;
  }
  
  .container p{
    margin-top:25px;
    margin-bottom:45px;
    color: #EFF4F6;
    font-weight:bolder;
  }
  
  .container h2{
  
    margin-top:35px;
    color:#EFF4F6;
  }
  
  .logo{
    width: 80px;
    height: 80px;
    margin:auto;
  }
  
  #titulo{

    margin-top:150px;
  }
  
img{
    margin-top: 10px;
}  

ion-icon{
    margin-top: 20px;
    margin-right: 70%;
    color: white;
}


.container-meio{
    color: white;
    height: 70%;
    position: absolute;
}

.botao1{
    height: 50px;
    width: 170px;
    margin-top: 15px;
    font-weight: bolder;
    box-shadow: 3px 5px #0887db;

}